

.body{

    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url('../image/b.jpg') !important;
    width: 100% !important;
    visibility: hidden;
    align-content: center !important;

    box-shadow: #99ffff 50px !important;     
}

div{
    align-items: center !important;
    align-content: center !important;
    background-color: rgba(21,21,21,0.4) !important;  
    border-radius: 5% !important;
    border-color:  #ffff00 !important;
}

input{    
    border-radius: 10%;
    border-color:  #ffff00 !important;
    background-color: rgba(21,21,21,0.6) !important;
    color: white !important;
}

button{
    text-justify: auto !important;
    font-weight: bold !important;
    width: 130px;
    height: 40px;
    box-shadow: #99ffff 50px !important;  
    border-radius: 20px !important;  
}
label{
    color: white !important;
}
