/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2020, 22:39:26
    Author     : LUIZ
*/

fieldset { 
    font-size: 14px !important;
    background-color: rgba(46,100,254,0.1) !important;
    visibility: visible;
    border-radius: 10px;
    border-color: black !important;
}
td, tr{
    border: black !important;
    background-color: rgba(46,100,254,0.0) !important;
    visibility: visible;
}
label{
    font-size: medium;
    font-weight: bold;
}
