/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2020, 22:39:26
    Author     : LUIZ
*/

fieldset{ 
    font-size: 14px !important;
    visibility: hidden;
}
td, tr{
    background: none !important;
    visibility: visible !important;
    
}
label{
    font-size: large !important;
    font-weight: bold;
}