<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/db_cea?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="model.ModelAcesso"/>
    <mapping class="model.ModelAluno"/>
    <mapping class="model.ModelAuxBoleDisc"/>
    <mapping class="model.ModelAuxProfDisc"/>
    <mapping class="model.ModelAuxProfTurma"/>
    <mapping class="model.ModelAuxTurmaDisc"/>
    <mapping class="model.ModelBoletim"/>
    <mapping class="model.ModelContato"/>
    <mapping class="model.ModelDisciplina"/>
    <mapping class="model.ModelEndereco"/>
    <mapping class="model.ModelMatricula"/>
    <mapping class="model.ModelPessoa"/>
    <mapping class="model.ModelProfessor"/>
    <mapping class="model.ModelTurma"/>
  </session-factory>
</hibernate-configuration>
